@font-face {
    font-family: 'GT-America';
    src: url('assets/font/GT-America/GT-America-Mono-Black-Trial.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT-America';
    src: url('assets/font/GT-America/GT-America-Mono-Regular-Trial.otf') format('opentype');
    font-weight: regular;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

header{
    height: 90px;
    background-color: black;
    color:white;
    margin: 0;
    display:flex;
    justify-content: space-between;
    padding: 0 90px;

}

#logo{
    align-content: center;

    #logo1{
        max-width: 130px;
        text-decoration: none;
    }

    img{
        width: 130px;
        align-items: center;
        vertical-align: middle;
    }
}

#hc{
    /* font-family: "GT-America"; */
    font-size: 24px;
    font-weight: 500;
    border-left: 2px solid white;
    padding: 0 0 3px 10px;
    margin-left: 5px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#hc:hover{
    text-decoration:underline;
}

nav{
    align-content: center;
    padding: 10px 20px;
}
#botao1, #botao2{
    font-size: 24px;
    width: auto;
    height: 51px;
    color: white;
    border-radius: 8px;

}

#botao1{
    background-color: #191a1b;
    border: solid 1px white;
    padding: 6px 22px;
}

#botao2{
    background-color: #4C5FD5;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 6px 35px;
}

#botao2:hover{
    color: black;
    background-color: white;
}

#hcwh{
    background-color: #DADBF1;
    padding-top: 100px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 75px;
        font-weight: lighter;
    }
}

#input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input input{}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    margin: 100px 70px;
}

.lm{
    width: 500px;
    margin: auto;
    display: flex;

    a{
        text-decoration: none;
        color: #4C5FD5;
    }

    a:hover{
        text-decoration: underline;
    }
}

.lm-text {
    h2{
        font-size: x-large;
        margin-bottom: 10px;
    }

    p{
        font-size: x-large;
        margin-bottom: 15px;
    }

    a{
        font-size: larger;
    }
}

.lm-img img {
    width: 82px;
    margin-right: 20px;
}

#footer{
    background-color: black;
    color: white;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.f-lista{
    margin-top: 20px;
}

.f-lista h2{
    margin-bottom: 10px;
}

.f-lista img{
    width: 150px;
}

.f-lista a{
    display: flex;
    text-decoration: none;
    color: white;
    margin-bottom: 3px;
}

.f-lista a:hover{
    text-decoration: underline;
}