@font-face {
    font-family: 'GT-America';
    src: url('assets/font/GT-America/GT-America-Mono-Black-Trial.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT-America';
    src: url('assets/font/GT-America/GT-America-Mono-Regular-Trial.otf') format('opentype');
    font-weight: regular;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  header{
    height: 90px;
    background-color: black;
    color:white;
    margin: 0;
    padding: 10px 90px;

}

#logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo1{
    max-width: 130px;
    text-decoration: none;
}

#logo1 img{
    opacity: 1;
    transition: opacity 0.2s ease;
    width: 130px;
    align-items: center;
    vertical-align: middle;
}

#logo1 img:hover{
    opacity: 0.8;
}


#hc{
    font-size: 24px;
    font-weight: 500;
    border-left: 2px solid white;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#hc:hover{
    text-decoration:underline;
}

#nav-buttons{
    display: flex; 
    align-items: center;
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 10px 20px;
}
#botao1, #botao2{
    font-size: 24px;
    width: auto;
    height: 51px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#botao1{
    background-color: #191a1b;
    border: solid 1px white;
    padding: 6px 22px;
}

#botao2{
    background-color: #4C5FD5;
    color: white;
    border: none;
    margin-left: 10px;
    padding: 6px 35px;
}

#botao2:hover{
    color: black;
    background-color: white;
    transition: all 0.5s ease;
}

#nav-hidden{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }

#botoes-hidden{
    display: none;
    margin: 0;
    border-top: 1px solid white;
    padding: 50px;
    background-color: black;
}

.botoes-hidden-s{
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.botoes-hidden-s:hover{
    opacity: 0.7;
}

#botoes-submit{
    border-bottom: 1px solid white;
    padding-bottom: 23px;
}

#botoes-sign{
    padding-top: 23px;
}

#botoes-lupa:hover{
    font-size: 1.6em;
    transition:  0.1s ease;
}

#hcwh{
    background-color: #DADBF1;
    padding-top: 100px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 75px;
        font-weight: lighter;
        margin-bottom: 30px;
    }
}

#input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    font-size: 20px;
    opacity: 0.7;
}

input:focus {
    color: black !important;
    font-size: 20px;
    border-right: none;
    outline: none;
}

#input button, #input input{
    background-color: white;
    border: solid 1px black;
}

#input input{
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:661px;
    height: 66px;
    padding-left: 18px;
}

#input button {
    border-radius: 5px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 66px;
    padding-right: 18px;
    font-size: 30px;
}

#input:hover input, #input:hover button {
    border: solid 1px #4C5FD5;
    color: #4C5FD5;
}

#input:hover input {
    border-right: none;
}

#input:hover button {
    border-left: none;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
    margin: 180px 70px 120px;
}

.lm{
    width: 500px;
    margin: auto;
    display: flex;

    a{
        text-decoration: none;
        color: #4C5FD5;
    }

    a:hover{
        text-decoration: underline;
    }
}

.lm-text {
    h2{
        font-size: x-large;
        margin-bottom: 10px;
    }

    p{
        font-size: x-large;
        margin-bottom: 15px;
    }

    a{
        font-size: larger;
    }
}

.lm-img img {
    width: 82px;
    margin-right: 20px;
}

#footer{
    background-color: black;
    color: white;
    position: relative;
    height: auto;
    line-height: 20px;
    padding: 30px 30px 100px;
    margin: 0;
    line-height: 24px;

}

#innerFooter{
    max-width: 1900px;
    position: relative;

}

#categorias{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* autofit pra responsividade */
    grid-template-rows: auto auto;
    column-gap: 20px;
    width: calc(70% - 83px);
    margin-right: 80px;
    padding-bottom: 70px;
    font-size: 18px;
}

#copyright{
    position: absolute;
    right: 60px;
    bottom: 1px;
    font-size: 20px;
}

.f-lista{
    margin-top: 20px;
    height: 200px;
    padding: 10px;
}

.f-lista h2{
    margin-bottom: 10px;
}

.f-lista img{
    width: 40px;
}

.f-lista a{
    display: flex;
    text-decoration: none;
    color: white;
    margin-bottom: 3px;
}

.f-lista a:hover{
    text-decoration: underline;
}

#subir {
    width: 110px;
    background-color: #4C5FD5;
    padding: 15px;
    border-radius: 30px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

#subir a{
    text-decoration: none;
}

#subir img{
    width: 20px;
}

#subir p{
    padding-left: 5px;
    font-weight: 600;
}

@media (max-width: 898px){
    #hcwh h1{
            font-size: 45px;
        }

    #input{
        width: 90%;
    }

    .menu-toggle {
        display: block;
      }

      header,nav{
        padding: 15px;
      }

      #nav-hidden{
        display: flex;
      }

      #barrinhas{
        margin-left: 15px;
      }

      #nav-buttons {
        display: none; 
    }
    
    #botoes-hidden.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    #copyright{
        position: relative;
        left: 5px;
    }
}